.container.centered
    %p{id: "notice"} 
        =notice

    %p
        %strong 
            =@blogpost.name

        %p
            =markdown(@blogpost.body)

        %p
            %strong Created:
            =@blogpost.create


    =link_to 'Edit', edit_blogpost_path(@blogpost) |
    =link_to 'Back', blogposts_path
