.container
  %h1 Austen Higgins-Cassidy
  .row
    .col-md-6
      .about_img
    .col-md-6
      %p.about_content
        Austen Higgins-Cassidy holds a degree in Computer and Electrical Engineering from Northeastern univserity. He's done work across disciplines. He's very interested in computational systems in both the hardware and software spaces. His recent venture WiMap takes advantage of hardware and software to provide a seamless indoor navigation experience. 
        %p
          Some of the projects he's worked on follow.
          %ul
            %li OpenGL Driver Development (C++) - Qualcomm, Inc
            %li GPU Texture Pipeline Optimization (Verilog) - Qualcomm, Inc
            %li Django Oauth2 Client LIbrary (Python) - Northeastern Univserity
            %li Android Application Development (Java) - WiMap
            %li Bluetooth Beacon Firmware (C) - WiMap
            %li Matlab Data Modeling - WiMap
            %li Ruby on Rails Development (Ruby) - WiMap
            %li Javascript/Rails web app (Ruby) - f.ragment
