.centered
  .row
    .col-sm-6
      %p 
        Here are a few projects I've worked on in my spare time.
      %ul
        %li
          =link_to image_tag('astrothumb.PNG'), 'https://github.com/Plasmarobo/astroshooter'
          %h2 AstroShooter
          %p
            Quick and dirty Javascript game involving loose orbital mechanics and physical effects!
        %li
          =link_to image_tag('alleythumb.PNG'), 'https://github.com/Plasmarobo/alleynoir'
          %h2 AlleyNoir
          %p
            A explorative game for the mini-LD. Didn't finish in time.
    .col-sm-6
      %h4 
        GitHub Heartbeat
      .blog-subtitle
        As of 
        =@feed.updated
      %ul
        -@feed.each_entry do |entry|
          %li.blog-feed
            =entry.title.split(' ')[1..-1].join(' ')


