.container
  .row
    .col-sm-6
      %p 
        Looks like I missing some content! 
      %p
        Not to worry, this section is under construction! Check back later!
    .col-sm-6
      %h4 
        GitHub Heartbeat
      .blog-subtitle
        As of 
        =@feed.updated
      %ul
        -@feed.each_entry do |entry|
          %li.blog-feed
            =entry.title.split(' ')[1..-1].join(' ')


