%h1 Code chunks
%p Some work I've done not really worthy of GitHub, but occasionally useful
%p Whoops, all my wolrd-ready projects are on GitHub at the moment! Will be filling this out in the future! 
%p Check back later! 
