%h1 WiMap
%h3 An experiment in location
%p WiMap was a project started for an innovation weekend while attending Northeastern. It evolved into a proto-startup that I worked on with a couple of friends. Unfortunately it never took off for a number of reasons. 
%ul
  %li
    %b I worked on the core by myself
  %p Huge mistake. Anything with the scope of WiMap should have a team working on each component. While I was able to get it done myself, it burned me out hard and left me feeling deserted and resentful. In reality, I isolated myself while working on this project.
  %li 
    %b I never discussed terms
  %p Organization is important. If I wanted help, I should have draw up some documents and contracts assuring my friends and partners that they were important and would get a chunk of the company they worked on so hard.p
  %li 
    %b I got a real job
  %p Not that day jobs aren't important, but I found my job took so much out of me that the last thing I wanted to do was work after work. Instead of this, I could have approached an accelerator or at least tried to get some capital to work with. Which brings me to the last point.
  %li 
    %b The business model was mangled
  %p When I though about this, I considered museums and convention centers. I should have been looking for a steadier stream of revenue. This was a place where lack of experience with business and the real world hurt our progress greatly.
%h3 The results
%p With all that said, a pretty interesting tech demo came out of WiMap. In retrospect, the wireless modems of mobile phones are terrible for this purpose. Due to the lack of standardization around reported signal strength, a per-device database would have needed to be created and maintained. While not insurmountable, it makes the technology less of a silver bullet. Not to mention the server infastructure required.
%h3 The lessions
%p
  I still think it was a good idea. Some people agreed with me; we did win two awards, and a total of $2500 in prize money. The prize money would be the only capital this project ever saw. Now it's a nice resume piece. The code (in a rather rough form) can be found
  %a{href: 'https://github.com/plasmarobo/wimap-android'} 
    =" here. "
  The fact that the methods used were essentially impossible on iPhone was another huge hurtle. That combined with the mistrust of 'big data' showered a bit of rain on our parade. We managed an Android App, a Calibration App (for my developer use only), and a rudimentary API.
  A technically sound project, if not a successful one. I'm now armed with a series of lessions for my next venture. Get Capital, Let Others In, And Set Yourself Up To Succeed. 
%p
  ="-Austen Higgins-Cassidy"
    