[submodule "public/alleynoir"]
	path = public/alleynoir
	url = https://github.com/Plasmarobo/alleynoir.git
[submodule "public/astroshooter"]
	path = public/astroshooter
	url = https://github.com/Plasmarobo/astroshooter.git
[submodule "public/Clickwise.me"]
	path = public/Clickwise.me
	url = git@github.com:Plasmarobo/Clickwise.me.git
