.col-md-4
  %h2 
    -case elem.status
    -when elem.COMPLETED
      .status_complete
        =elem.name
    -when elem.IN_PROGRESS
      .status_inprogress
        =elem.name
    -when elem.FUTURE
      .status_future
        =elem.name
    -else
      .status_default
        =elem.name
  %p =elem.body
  %ol
    -elem.project_subelement.each do |sub|
      =render '_subelement', locals: {elem: sub}

