.row
  .col-sm-5
    %h4.projectheader Project Elements
  .col-sm-1.add_icon
    -if admin_signed_in?
      =image_tag 'add.png', class: "add_element"
  .col-sm-1
    
  .col-sm-4
    %h4.projectheader Subelements
  .col-sm-1.add_icon
    -if admin_signed_in?
      =image_tag 'add.png',class: "add_subelement"
.row
  .col-sm-6.elements
    - elements.each do |elem|
      .row.listitem{element_id: elem.id}
        .col-sm-4
          =elem.decorate(elem.name)
        .col-sm-1.edit_icon
          -if admin_signed_in?
            =image_tag 'edit.png', class: "edit_element edit_icon"
        .col-sm-1.remove_icon
          =image_tag 'remove.png', class: "remove_element remove_icon"
  .col-sm-1.divide
    >
  .com-sm-5.subelements
    .subelement_list
      -if not elements.nil?
        -if not elements.first.nil?
          =render 'subelements', subelements: elements.first.project_subelements

          
       
    
