
-subelements.each do |elem|
  .row.listitem{subelement_id: elem.id}
    .col-sm-3
      =elem.decorate(elem.name)
    .col-sm-1
      -if admin_signed_in?
        =image_tag 'edit.png', class: "edit_subelement edit_icon"
    .col-sm-1
      -if admin_signed_in?
        =image_tag 'remove.png', class: "remove_subelement remove_icon"
