.container.centered
  -if not @post.nil?

    .blog_icon
      =image_tag 'blog_large.png'
    .blog_header
      .blog_title_item
        %h1
          =@post.name
      .blog_title_item
        ="As of #{@post.create}!"
        ( 
        =link_to "Archive", "/blogposts"
        )
        %br
    .blog_body
      %p
        =@post.body.html_safe
      

