// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centered{
	background-color:#fff;
	margins:auto;
	padding-left:16px;
	padding-right:16px;
}

.blog-icon
{
  width:128px;
  height:128px;
  margin: 0;
  float:left;
}

.blog-header
{
  float:left;
}
.blog-header-block
{
  float:left;
}

.blog-title
{
  margin-top:30px;
  margin-bottom:0;
  font-size: 60px;
  font-weight: normal;
  font-family: "Helvetica Neue";
}

.blog-subtitle
{
  color:#aaa;
}

.blog-body{
  
}

.blog-post{
  font-family:Georgia;
}

.blog-post-title
{
  font-family: "Helvetica Neue";
}

.blog-post-meta{
  color:#3a3a3f;
}

.blog-sidebar{
  
}


.sidebar-module{}

.sidebar-module-inset{
  background-color:#eee;
  padding:15px;
}

