// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centered{
	background-color:#fff;
	margins:auto;
	padding-left:16px;
	padding-right:16px;
}
.blog_header
{
  width:80%;
  height:256px;
}

.blog_title_item
{
  width:100%;
}

.blog_body
{
  width:100%;
}

.blog_icon
{
  width:20%;
  height:256px;
  margin-right:0px;
}