// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.status_completed
{
  color:#AAFFAA;
}

.status_inprogress
{
  color:#AAAAFF;
}

.status_future
{
  color:#FFAAAA;
}

.status_default
{
  color:#AAAAAA;
}
