%li
	=image_tag 'blog.png'
	=link_to 'Blog', '/blog/blog'
%li
	=image_tag 'code.png'
	=link_to 'Code', '/code'
%li
	=image_tag 'github.png'
	=link_to 'Github', 'https://github.com/plasmarobo'
%li
	=image_tag 'wimap.png'
	=link_to 'WiMap', 'http://wimapnav.com'
%li 
	=image_tag 'me.png'
	=link_to 'About', '/about'